body {
  --def-font-size: 16px;
  --def-line-height: 1.8;
  --def-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --def-min-width: 200px;
  --def-max-width: 900px;

  --def-color: #1f2328;
  --def-href-color: #0969da;
  --def-bgc: #ffffff;
  --def-header-bgc: #F5F5F5;
  --def-color-muted: #636c76;
  --def-tabs-bc: #cacaca;
  --def-pagination-cur-bgc: #d5d5d5;
  --def-pagination-bc: #eee;
  --def-readmore-bgc: #F5F5F5;
  --nav-menu-bgc: #e1e4e8;
}

@media (prefers-color-scheme: dark) {
  body {
    --def-color: #e6edf3;
    --def-href-color: #4493f8;
    --def-bgc: #0d1117;
    --def-header-bgc: #171d25;
    --def-color-muted: #8d96a0;
    --def-tabs-bc: #545454;
    --def-pagination-cur-bgc: #4b4b4b;
    --def-pagination-bc: #2e2e2e;
    --def-readmore-bgc: #2e2e2e;
    --nav-menu-bgc: #4b4b4b;
  }
}

body {
  margin: 0;
  color: var(--def-color);
  font-family: var(--def-font-family);
  font-size: var(--def-font-size);
  background-color: var(--def-bgc);
}

.header {
  width: 100%;
  background-color: var(--def-header-bgc);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px 30px;
  max-width: var(--def-max-width);
  box-sizing: border-box;
}

.nav_title {
  text-decoration: none;
  color: var(--def-href-color);
  font-weight: 600;
  font-size: 1.4em;
}

.nav_menu {
  text-decoration: none;
  color: var(--def-href-color);
  font-size: 1em;
  transition: color 0.3s, background-color 0.3s;
}

.nav_menu:hover {
  background-color: var(--nav-menu-bgc);
  border-radius: 5px;
}

main {
  box-sizing: border-box;
  min-width: var(--def-min-width);
  max-width: var(--def-max-width);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0px 30px;
}


.markdown-body {
  box-sizing: content-box;
  margin-bottom: 30px;
  line-height: var(--def-line-height);
  font-family: var(--def-font-family);
}

.postinfo_container {
  box-sizing: content-box;
  margin-bottom: 40px;
}

.postinfo_title {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.postinfo_title a {
  color: var(--def-color);
  transition: color 0.3s;
  text-decoration: none;
}

.postinfo_title a:hover {
  color: var(--def-href-color);
}

.postinfo_meta {
  font-size: 0.9em;
  color: var(--def-color-muted);
  margin-bottom: 15px;
}

.postinfo_excerpt {
  margin-bottom: 15px;
}

.postinfo_excerpt a {
  color: var(--def-color);
  transition: color 0.3s;
  text-decoration: none;
}

.postinfo_excerpt a:hover {
  color: var(--def-href-color);
}

.postinfo_readmore {
  padding-bottom: 30px;
}

.postinfo_readmore a {
  color: var(--def-href-color);
  transition: background-color 0.3s;
  text-underline-offset: 6px;
}

.postinfo_readmore a:hover {
  background-color: var(--def-readmore-bgc);
  border-radius: 5px;
}


.tabs-tabs-wrapper {
  padding-bottom: 10px;
}

.tabs-tabs-header {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tabs-tab-button {
  color: var(--def-color);
  font-family: var(--def-font-family);
  font-size: 1em;
  padding: 5px 20px;
  border: none;
  border-bottom: 1px solid var(--def-tabs-bc);
  background-color: transparent;
}

.tabs-tab-button.active {
  border: 1px solid var(--def-tabs-bc);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--def-href-color);
}

.tabs-tabs-container .tabs-tab-content {
  display: none;
}

.tabs-tabs-container .tabs-tab-content.active {
  display: block;
}

.markdown-body li+li {
  margin-top: .1em;
}


.footnotes-sep {
  display: none;
}

.markdown-body .footnotes {
  margin-top: 30px;
  padding-top: 20px
}

.markdown-body li.footnote-item>p {
  margin: 0 auto;
  margin-bottom: 10px;
}

.tags_cloud {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 600px;
  flex-wrap: wrap;
}

.tags_cloud_tag {
  padding: 0px 10px;
  margin-bottom: 20px;
}

.tags_cloud_tag a {
  font-size: 1em;
  color: var(--def-color);
  transition: color 0.3s;
  text-underline-offset: 6px;
}

.tags_cloud_tag a:hover {
  color: var(--def-href-color);
}

.post_tags_container {
  display: flex;
  margin-bottom: 30px;
  box-sizing: content-box;
  flex-wrap: wrap;
  border: none;
}

.post_tag {
  padding-right: 10px;
  margin-bottom: 10px;
}

.post_tag a {
  font-size: 1em;
  color: var(--def-color);
  transition: color 0.3s;
  text-decoration: none;
}

.post_tag a:hover {
  color: var(--def-href-color);
}

.comment_waline,
.comment_giscus {
  margin-bottom: 30px;
  box-sizing: content-box;
}


.pagination_container {
  display: flex;
  margin-bottom: 30px;
  box-sizing: content-box;
  flex-wrap: wrap;
  border: none;
  border-top: 1px solid var(--def-pagination-bc);
}

.pagination,
.pagination_arrow {
  box-sizing: border-box;
  padding: 5px 15px;
  margin-right: 10px;
}

.pagination a,
.pagination_arrow a {
  font-size: 1em;
  color: var(--def-color);
  transition: color 0.3s;
  text-decoration: none;
}

.pagination a:hover,
.pagination_arrow a:hover {
  color: var(--def-href-color);
}

.pagination.current {
  background-color: var(--def-pagination-cur-bgc);
}

.pagination_arrow {
  padding: 5px 0px;
}

footer {
  box-sizing: border-box;
  min-width: var(--def-min-width);
  max-width: var(--def-max-width);
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0px 30px;
}

footer p {
  text-align: center;
  line-height: 0.5;
}

footer a {
  text-align: center;
  font-size: 1em;
  color: var(--def-color);
  transition: color 0.3s;
  text-decoration: none;
}

footer a:hover {
  color: var(--def-href-color);
}

.archive_container {
  margin-bottom: 30px;
  box-sizing: content-box;
}

.archive_container p {
  color: var(--def-color);
  font-size: 1em;
  line-height: 1.2;
}

.archive_container a {
  color: var(--def-href-color);
  text-decoration: none;
}

.archive_container a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}


@media (max-width: 767px) {
  main {
    padding: 0px 20px;
  }

  .nav_container {
    margin-bottom: 30px;
    padding: 15px 20px;
  }

  .nav_title {
    font-size: 1.3em;
  }

  .postinfo_container {
    margin-bottom: 30px;
  }

  .postinfo_readmore {
    padding-bottom: 25px;
  }
}
